body {
    background: : #ddd;
font-family: monospace;
    
}

.container-table{
    width: 90%;
    background: white;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 50px;  
}
.table__title{
grid-column-start: 1;
    grid-column-end: 6;
    
    background: rgb(0,162,232);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9em;
}
.table__header,.table__item , .table__header_link{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.table__header ,.table__header_link {
    
    font-weight: bold;
    font-size: 1.5em;
}
.table__item{
    padding: 10px;
    font-size: 1.2em;
}
.TABLE_TITLE {
    font-weight: bold;
    font-size: 1.2em;
    background:rgb(77,162,232,1);
    color: white;
   
    justify-content: center;
    
}